<h1>Admin#landing</h1>
<p>Find me in app/views/admin/landing.html.erb</p>
<p>This will be the landing page for the IFC administrator. </p>
<br/>
<p> Credit to the CS 407 TAs of Spring 2015 for providing a Rails tutorial that
was vital in making this.</p>
<br/>

<!-- The code wrapped in the ,< %      % > tags is ruby code "=" executes 
result on the page -->
<%=link_to "Fraternities", fraternities_path%>
<br/>
<%=link_to "Events", events_path%>